parameters:
    ez_recommendation.client.yoochoose_notifier.class: EzSystems\RecommendationBundle\Client\YooChooseNotifier
    ez_recommendation.client.yoochoose_recommendations.class: EzSystems\RecommendationBundle\Client\YooChooseRecommendations

services:
    ez_recommendation.twig.extension:
        class: EzSystems\RecommendationBundle\Twig\RecommendationTwigExtension
        public: true
        arguments:
            - @templating
            - @ezpublish.api.repository
            - userId: %ez_recommendation.default.yoochoose.customer_id%
              scenarioId: %ez_recommendation.recommendations.default.scenario%
              limit: %ez_recommendation.recommendations.default.limit%
              template: %ez_recommendation.recommendations.default.template%
        tags:
            - { name: twig.extension }

    ez_recommendation.client.yoochoose_notifier:
        class: %ez_recommendation.client.yoochoose_notifier.class%
        arguments:
            - @ez_recommendation.client.yoochoose_notifier.guzzle_client
            - {api-endpoint: %ez_recommendation.api_endpoint%}
            - @?logger
        calls:
            - [setCustomerId, [$yoochoose.customer_id;ez_recommendation$]]
            - [setLicenseKey, [$yoochoose.license_key;ez_recommendation$]]
            - [setServerUri, [$server_uri;ez_recommendation$]]
        tags:
            - { name: monolog.logger, channel: ez_recommendation }

    ez_recommendation.client.yoochoose_notifier.guzzle_client:
        class: GuzzleHttp\Client
        arguments:
            - { base_url: %ez_recommendation.api_endpoint% }

    # The configured eZ Publish legacy search engine
    ez_recommendation.legacy.search_engine:
        class: ezpSearchEngine
        factory_class: EzSystems\RecommendationBundle\eZ\Publish\LegacySearch\LegacySearchFactory
        factory_method: build
        arguments: [@ezpublish_legacy.kernel]

    ez_recommendation.legacy.recommendation_search_engine:
        class: EzSystems\RecommendationBundle\eZ\Publish\LegacySearch\RecommendationLegacySearchEngine
        arguments:
            - @ez_recommendation.client.yoochoose_notifier
            - @ez_recommendation.legacy.search_engine

    ez_recommendation.legacy.search_configuration_mapper:
        class: EzSystems\RecommendationBundle\eZ\Publish\LegacySearch\ConfigurationMapper
        arguments:
            - @ez_recommendation.legacy.recommendation_search_engine
            - @ezpublish.siteaccess
        tags:
            - { name: kernel.event_subscriber }

    ez_recommendation.client.yoochoose_recommendations:
        class: %ez_recommendation.client.yoochoose_recommendations.class%
        arguments:
            - @ez_recommendation.client.yoochoose_notifier.guzzle_client
            - { api-endpoint: %ez_recommendation.recommendations.api_endpoint% }
            - @?logger
        calls:
            - [setCustomerId, [$yoochoose.customer_id;ez_recommendation$]]
            - [setLicenseKey, [$yoochoose.license_key;ez_recommendation$]]
        tags:
            - { name: monolog.logger, channel: ez_recommendation }

    ez_recommendation.controller.recommendation:
        class: EzSystems\RecommendationBundle\Controller\RecommendationController
        arguments:
            - @ez_recommendation.client.yoochoose_recommendations
            - @ezpublish.api.repository
            - @router
            - @ez_recommendation.criteria.content_type
            - @ez_recommendation.converter.location

    ez_recommendation.criteria.content_type:
        class: EzSystems\RecommendationBundle\Criteria\ContentType

    ez_recommendation.converter.location:
        class: EzSystems\RecommendationBundle\Converter\LocationConverter
        arguments:
            - @ezpublish.api.repository
            - @router
