language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files
    
matrix:
    fast_finish: true
    include:
        - php: 7.0
        - php: 5.6
          env: SYMFONY_VERSION="~3.0" KERNEL_VERSION="dev-sf3 as 6.6.x-dev"
        - php: 5.5
        - php: 5.4
          env: SYMFONY_VERSION="~2.7.0"

# test only master (+ Pull requests)
branches:
  only:
    - master
    - /^\d.\d+$/

before_script:
  # Disable xdebug to speed things up as we don't currently generate coverge on travis
  - if [ $TRAVIS_PHP_VERSION != "hhvm" ]; then phpenv config-rm xdebug.ini ; fi
  - echo 'memory_limit = -1' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # If set update symfony version
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/symfony="$SYMFONY_VERSION"; fi;
  - if [ "$KERNEL_VERSION" != "" ]; then composer require --dev --no-update ezsystems/ezpublish-kernel="$KERNEL_VERSION"; fi;
  # Install packages using composer
  - composer install  --prefer-dist
  # Detecting timezone issues by testing on random timezone
  - TEST_TIMEZONES=("America/New_York" "Asia/Calcutta" "UTC")
  - TEST_TIMEZONE=${TEST_TIMEZONES["`shuf -i 0-2 -n 1`"]}
  - echo "$TEST_TIMEZONE"

# execute phpunit as the script command
script: "php -d date.timezone=$TEST_TIMEZONE -d memory_limit=-1 vendor/bin/phpunit"

# disable mail notifications
notifications:
  email: false

# reduce depth (history) of git checkout
git:
  depth: 30
